# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/

# ===============================
# Jupyter / Notebooks
# ===============================
.ipynb_checkpoints/

# ===============================
# ML Artifacts
# ===============================
*.pkl
*.joblib
*.h5
*.pt
*.onnx

# ===============================
# MLflow
# ===============================
mlruns/
mlartifacts/

# ===============================
# Optuna
# ===============================
optuna.db
*.sqlite3

# ===============================
# Prefect
# ===============================
.prefect/
.prefectignore

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Data files (IMPORTANT)
# ===============================
reviews_data/
*.csv
*.tsv
*.zip

#================================
# MLFLOW DB
#================================
*.db

# ===============================
# Environment variables / secrets
# ===============================
.env
.env.*

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# AWS / Deployment
# ===============================
*.pem
*.key

# dependencies
frotnend/node_modules/
frontend/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
